html{
    background: url(onrobot.jpg) center center fixed;
    background-size: cover ;    
}
body{
    margin: auto 0;
}
 .hdbox{
    display: flex;
    flex-wrap:nowrap;
    padding: 20px;
    background-color: rgba(211, 215, 219, 0.1);
    position: relative;
    border-radius: 10px 500px 10px 20px ;

}

.hdbox1{
    display: flex;
    justify-content: space-between;
}
img{
    width: 250px;
    padding: 5px;  
    border-radius: 300px 300px;  
   
} 

header div ol ul{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
}
/* .hdbox :last-child{
    color: rgb(54, 20, 30);
} */

.btn1{
    background-color: rgb(207, 88, 88);
    border-radius: 30px;
    border-color:  rgba(207, 88, 88,0) rgba(207, 88, 88,0) rgba(207, 88, 88,0) rgba(207, 88, 88,0);
   
    width: fit-content;
    padding: 0 10px;
    margin: 10px 0 0 75px ;
}
.btn{
    font-size: x-large;
    color: rgb(21, 21, 63);
    text-decoration: none;
}
.btn1:hover{
    
    padding: 0 1.5rem ;
    margin-left: 70px ;
    background-color: rgb(92, 14, 14);
}

.hdbox .hdbox3{
    font-size: x-large;
}
.conbtn {
    background: rgb(141, 60, 71);
    color: white;
    padding: 3px;
    border-radius: 10px;
    width: fit-content;
    text-decoration: none;
    
  }
::-webkit-scrollbar { width: 15px; height: }
::-webkit-scrollbar-thumb {
  background:rgb(12, 12, 44);
  border-radius: 30px;
  border: 4px solid;
}
::-webkit-scrollbar-thumb { border-color: hsl(256, 88%, 91%); }
::-webkit-scrollbar-track { background: hsl(0, 0%, 59%); }

section table {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(240, 248, 255, 0.425);
    box-shadow: 0 10px 10px rgb(84, 84, 84);
    border-radius: 10px;
}

.sbox {
    display: flex;
    margin: 0 auto;
    border-bottom: 4px;
    padding: 5px;
    margin-right: 5px;
}

.sbox .sbox1{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 750px;
    margin-top: 30px;
    background-color: rgba(240, 248, 255, 0.425);
    box-shadow: 2px 10px 10px rgb(83, 83, 83) ;
    border-radius: 10px;
}
.sbox .sbox2{
    font-size: xx-large;
    font-style: italic;
    padding: opx  5px;
    margin-left: 40px;
    width: 400px;
    background-color: rgba(240, 248, 255, 0.425);
    box-shadow: 2px 10px 10px rgb(83, 83, 83);
    border-radius: 10px;
}

.sbox3 {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(240, 248, 255, 0.425);
    box-shadow: 2px 10px 10px rgb(84, 84, 84);
    border-radius: 10px;
}



footer{
    background-color: rgb(180, 180, 180);
    box-shadow: 5px 5px  rgb(84,84,84);
}
footer table{
    font-size: larger;

}
